<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
      }

      .nickname {
        font-size: 24px;
        font-weight: bold;
        color: #007883;
        margin-bottom: 20px;
      }

      .table-container {
        max-width: 1000px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
      }

      .button-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .customize-button,
      .calendar-button {
        background-color: #007883;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .customize-button:hover,
      .calendar-button:hover {
        background-color: #005f66;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }

      th {
        background-color: <%= customizations.table_header_color %>;
        color: <%= customizations.table_header_font_color %>;
      }

      tr:nth-child(odd) {
        background-color: <%= customizations.table_row_odd_color %>;
        color: <%= customizations.table_row_odd_font_color %>;
      }

      tr:nth-child(odd):hover {
        background-color: #bdbdbd; /* or any other hover color you prefer */
      }

      tr:nth-child(even) {
        background-color: <%= customizations.table_row_even_color %>;
        color: <%= customizations.table_row_even_font_color %>;
      }

      tr:nth-child(even):hover {
        background-color: #bdbdbd; /* or any other hover color you prefer */
      }

      .styled-button,
      .red-button {
        display: inline-block;
        margin: 10px;
        padding: 12px 20px;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .styled-button {
        background-color: #4caf50;
      }

      .styled-button:hover {
        background-color: #337937;
      }

      .red-button {
        background-color: red;
      }

      .red-button:hover {
        background-color: darkred;
      }
    </style>
  </head>
  <body>
    <div class="table-container">
      <div class="button-container">
        <button
          onclick="window.location.href='/calendar'"
          class="calendar-button"
        >
          Calendar
        </button>
        <button
          onclick="window.location.href='customize'"
          class="customize-button"
        >
          Customize
        </button>
      </div>
      <h1
        style="
          background-color: <%= customizations.page_header_color %>;
          color: <%= customizations.page_header_font_color %>;
        "
      >
        To-Do List
      </h1>
      <div class="nickname">Welcome, <%= username %>!</div>
      <div style="text-align: center; margin-top: 20px">
        <button
          class="styled-button"
          onclick="window.location.href='add_item_page'"
        >
          Add New Item
        </button>
      </div>

      <table>
        <thead>
          <tr>
            <th>Time Added</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% if (items.length > 0) { %> <% items.forEach(item => { %>
          <tr>
            <td><%= new Date(item.time_added).toLocaleString() %></td>
            <td><%= item.title %></td>
            <td><%= item.description %></td>
            <td><%= item.priority %></td>
            <td>
              <%= item.due_date ? new Date(item.due_date).toLocaleString() :
              'None' %>
            </td>
            <td><a href="/edit_item/<%= item.id %>">Edit</a></td>
            <td><a href="/delete_item/<%= item.id %>">Delete</a></td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="7">No to-do items found.</td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <form action="/logout" method="post" style="margin-top: 20px">
        <button type="submit" class="red-button">Logout</button>
      </form>
    </div>
  </body>
</html>
